
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 272px;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 auto;
}

.img{
    width: calc(100% - 32px);
    height: 120px;
}

.price {
    margin: 8px auto;
    display: flex;

}
.priceIcon{
    margin-left: 9px;
}

@media  screen and (max-width: 1239px){
    .card{
        max-width: 144px;
    }
    .img {
        height: 72px;
    }
}
@media screen and (max-width: 991px){
    .card{
        max-width: 272px;
    }
    .img{
        height: 120px;
    }

}
@media screen and (max-width: 640px){
    .card{
        max-width: 144px;
        height: 220px;
    }
    .card div{
        width: 24px;
        box-sizing: border-box;
        height: 24px;
        font-size: 14px;
    }
    .img {
        height: 72px;
    }
    .text{
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}