.page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    height: 430px;
}
.title {
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.link{
    text-decoration: none;
    margin-left: 7px;
    color: #4C4CFF;
}
.text{
    color: #8585AD;
    opacity: 0.4;
}
.buttonBar{
    display: flex;
    justify-content: end;
    width: 100%;
}
.ingredientMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.notFoundSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.notFoundTitle {
    font-size: 170px;
    margin: 0;
}
.input, .input div:not(input+div){
    width: 100%;
}
.feedContent{
    max-width: 1240px;
    display: grid;
    grid-template-areas: "title title""orders info";
    grid-template-columns: repeat(2, 1fr);
}
.feedTitle{
    grid-area: title;
    margin: 40px 0 4px;
    text-align: start;
}

.orders{
    grid-area: orders;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.info{
    grid-area: info;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.table{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}
.tableColumn{
    width: 274px;
}
.list{
    list-style-type: none;
    margin: 24px 0 60px;
    padding: 0;
    align-self: start;
    width: 100%;
}
.done{
    color: #00CCCC;
}
.item:first-of-type{
    margin-top: 0;
}
/*.orderContainer {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: 640px;*/
/*    min-height: 430px;*/
/*}*/
.ingredient{
    display: flex;
    align-items: center;
    width: 100%;
}
.img{
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100px;
    border: 2px solid #801AB2;
    box-sizing: border-box;
    padding: 2px;
}
/*.orderText{*/
/*    align-self: start;*/
/*}*/
/*.orderTotalContainer{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    width: 100%;*/
/*}*/
.ingredientsList{
    list-style-type: none;
    margin: 24px 0 60px;
    padding: 0;
    align-self: start;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: 8px;
    scrollbar-color: #8585AD;
    max-height: 360px;
}
.price{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.myOrders{
    overflow-y: auto;
    width: 844px;
    max-height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
