.item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: grab;
}
.dragIcon{
    margin-right: 13.5px;
}

@media screen and (max-width: 991px){
    .item{
        margin: 0;
    }
    .dragIcon{
        margin: 0 10px;
    }
}