.header {
    display: flex;
    background-color: #1C1C21;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navlist{
    display: flex;
    list-style-type: none;
    padding: 0;
}
.header__container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger{
    display: none;
    outline: none;
    border: 0;
    width:24px;
    height: 24px;
    background-color: transparent;
    background-image: url("../../images/mobile_menu_icon.svg");
    position: relative;
    margin: 20px 8px;
}


.smallLogo{
    display: none;
    width: 40px;
    height: 40px;
    margin: 12px 8px;
}
@media  screen and (max-width: 470px){
    .burger{
        display: block;
    }
    .navBar{
        display: none;
    }
    .smallLogo{
        display: block;
    }
    .mainLogo{
        display: none;
    }
}