
.img{
    width: 480px;
    height: 240px;
    display: block;
}
.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.listItem {
    width: 120px;
    min-height: 24px;
    text-align: center;
}